beautifulsoup4
pywin32; sys_platform == 'win32'
dbus-python; sys_platform == 'linux'
applescript>=2020.6.12; sys_platform == 'darwin'
sip
PyQt5-stubs
PyQt5
requests>=2.20.0
xmltodict
psutil; sys_platform == 'win32'
unidecode
pylrc>=0.1.2
pathvalidate
diskcache
sentry-sdk
azapi>=3.0.1
pyinstaller # Only for deployment